APPIUM_SERVER_URL=http://127.0.0.1:4723
ANDROID_DEVICE_NAME=Android Emulator
ANDROID_UDID=emulator-5554
APP_PATH=apps/ApiDemos-debug.apk
ANDROID_APP_PACKAGE=io.appium.android.apis
ANDROID_APP_ACTIVITY=io.appium.android.apis.ApiDemos
ELEMENT_TIMEOUT_SECONDS=15
NEW_COMMAND_TIMEOUT_SECONDS=120
